$primary-white: #ffffff;
$secondary-white: #dcdcdc33;
$primary-black: #000000;
$primary-blue: #3d00b7;
$secondary-blue: #2639ed;
$primary-green: #00ac4f;
$primary-gray: #565656;
$secondary-gray: #636363;
$dark-gray: #363639;

/*Top Menu*/
$primary-neutral: #efefef;
$secondary-neutral: #c0c0c0;

/*Amaze NFT*/
$amaze-black: #292d32;
$amaze-gray: #696969;

/*Collection Over*/
$collection-over-blue: #1e93ff;
$collection-over-light-blue: #14c8b0;
$collection-over-primary-red: #ff002e;
$collection-over-dark-gray: #3a3a3a;
$collection-over-blue: #220970;

/*Collection NFT*/
$collection-nft-blue: #2639ed;

/*Discover*/
$discover-nft-blue: #3D00B7;
$discover-blue: #371c87;
$discover-purple: #4f33a3;
$discover-gray: #838383;
$discover-tab-btns-bg: rgba(220, 220, 220, 0.20);
$discover-nft-card-bd: rgba(242, 242, 242, 0.50);
$discover-nft-card-green: #00AC4F;



/*Footer*/
$footer-gray: #959595;
$footer-black: #3d3d3d;