@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap");
@font-face {
  font-family: "Integral CF";
  src: url(fonts/IntegralCF-Regular.otf);
}
/* @font-face {
  font-family: "Averta Demo";
  src: url(fonts/AvertaDemo-Regular.otf);
} */
@font-face {
    font-family: "Integral CF-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/IntegralCF-Bold") format("opentype");
  }
  @import url("https://fonts.googleapis.com/css? family=DM+Sans:700, 400 | Roboto:400 | Poppins:600");
  .nft-market-place .collection {
    align-items: flex-start;
    display: flex;
    margin-top: 134px;
  }
  .collection-nft {
    height: 619px;
    margin-left: 2px;
    min-width: 1442px;
     flex-grow: 0;
  margin: 134px 0 102px;
  padding: 65px 120px 98.7px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: rgba(217, 224, 236, 0.2);
  }
  .group-container-2{
    display:flex;
    gap:32px;
  }
  .overlap-group12 {
    -webkit-backdrop-filter: blur (50px) brightness(100%);
    align-items: flex-start;
    backdrop-filter: blur(50px) brightness(100%);
    background-color: var(--geyser);
    display: flex;
    flex-direction: column;
    gap: 56px;
    min-height: 619px;
    padding: 64px 0;
    width: 1440px;
  }
  .collection-featured-nf-ts {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 121px;
    min-height: 34px;
  }
  
  .group-container-1 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    /* gap: 31px; */
    width: 380px;
  }
  
  .group-10 {
    align-items: flex-start;
    display: flex;
    gap: 9px;
    height: 272px;
    width: 266px;
     border-radius: 11px;
  background-color: #ffffff;
  }
  .integralcf-bold-black-28px{ width: 460px;
    height: 34px;
    flex-grow: 0;
    /* margin: 0 359px 55px 1px; */
    font-family: "Integral CF-bold";
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;}
  .flex-col-13 {
    align-items: flex-start;
    align-self: flex-end;
    gap: 29px;
    margin-bottom: 0;
    min-height: 366px;
    width: 266px;
  }
  .nft-market-place .flex-col-15 {
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    margin-bottom: 8px;
  }
 
  .group-10 {
    align-items: flex-start;
    display: flex;
    gap: 9px;
    height: 366px;
    min-width: 379px;
  }
  .flex-col-13 {
    align-items: flex-start;
    align-self: flex-end;
    gap: 29px;
    margin-bottom: 0;
    min-height: 366px;
    width: 266px;
  }
  .nft-market-place .flex-col-15 {
    display: flex;
    flex-direction: column;
  }
  .group-99 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 11px;
    min-height: 64px;
    width: 189px;
  }
  
  .group-76 {
    align-items: center;
    display: flex;
    gap: 10px;
    min-width: 107px;
  }
  .ellipse-95-1 {
    height: 28px;
    object-fit: cover;
    width: 28px;
  }
  .by-arkhan {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 2.93px;
    min-height: 18px;
    min-width: 67px;
  }
  .amazing-collection {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    min-height: 26px;
  }
  .unsplashf56-y7dgr-akc {
    height: 272px;
    width: 266px;
  }.total-54-items{
    width: 98px;
    height: 29px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4.6px;
    margin: 64.7px 0 0 0;
    padding: 10px 20px;
    border-radius: 60px;
    border: solid 1px #2639ed;
  }
  .dmsans-bold-persian-blue-11px{ width: 75.2px;
    height: 14.7px;
    flex-grow: 0;
    font-family: DMSans;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2639ed;}
  .dmsans-bold-black-20px{ width: 187px;
    height: 26px;
    flex-grow: 0;
    margin: 0 0 10.4px;
    font-family: DMSans;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;}
  .flex-col-2 {
    align-items: center;
    min-height: 358px;
    width: 104px;
    gap:8px
  }
  .unsplashp-vo-e-pp-1w818 {
    width: 103.6px;
  height: 85.3px;
  flex-grow: 0;
  margin: 8.3px 0.4px 8.3px 9.2px;
  border-radius: 11px;
  background-color: #c4c4c4;
  }
  .flex-col-3 {
    align-items: flex-start;
    gap: 29px;
    min-height: 366px;
    width: 266px;
  }
  .nft-market-place .amazing-collection-3 {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    min-height: 26px;
  }
  .group-102 {
    align-items: flex-start;
    display: flex;
    gap: 9px;
    height: 366px;
    min-width: 380px;
  }
  .total-54-items-1 {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 8.39px;
    margin-top: 71px;
    min-height: 15px;
    width: 75px;
  }
  