/* Colors */
@use "colors" as c;

/* Folors */
@use "fonts" as f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-h-center {
  display: flex;
  justify-content: center;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  background: c.$primary-white;
  background-size: cover;
  font-family: f.$FFamilyDM;
  overflow-x: hidden !important;
}

/* Discover More NFTs */
.disc-nft {
  width: 100%;
  height: 100%;
  background: c.$discover-nft-bg;
  backdrop-filter: blur(25px);
  overflow-x: hidden;

  &-ctr {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 40px 120px 47px 120px;

    @media(max-width: 1220px) and (min-width: 1201px) {

    }
    
    @media(max-width: 1200px) and (min-width: 1025px) {

    }

    @media(max-width: 1023px) and (min-width: 801px) {
      margin: 40px 60px 47px 60px;
    }

    @media(max-width: 800px) and (min-width: 601px) {
      margin: 40px 40px 47px 40px;
    }

    @media(max-width: 600px) and (min-width: 481px) {
      margin: 40px 20px 47px 20px;
    }
    
    @media(max-width: 480px) {
      margin: 40px 20px 47px 20px;
    }

    &-header {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin: 40px 0 0 0;
  
      &-title {
        color: #000;
        font-family: f.$FFamilyInteg;
        font-size: f.$fontSize34;
        font-style: normal;
        font-weight: f.$font-weightBold;
        line-height: normal;

        @media(max-width: 1220px) and (min-width: 1201px) {
          font-size: f.$fontSize34;
        }
        
        @media(max-width: 1200px) and (min-width: 1025px) {
          font-size: f.$fontSize32;
        }
    
        @media(max-width: 1023px) and (min-width: 801px) {
          font-size: f.$fontSize30;
        }
    
        @media(max-width: 800px) and (min-width: 601px) {
          font-size: f.$fontSize28;
        }
    
        @media(max-width: 600px) and (min-width: 481px) {
          font-size: f.$fontSize26;
        }
        
        @media(max-width: 480px) {
          font-size: f.$fontSize24;
        }

      }
      
    }
  
    &-cat {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
  
      &-tab {
        overflow: hidden;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 3%;

        @media(max-width: 1220px) and (min-width: 1201px) {
          width: 100%;
        }
        
        @media(max-width: 1200px) and (min-width: 1025px) {
          width: 100%;
        }
  
        @media(max-width: 1023px) and (min-width: 801px) {
          width: 100%;
        }

        @media(max-width: 800px) and (min-width: 601px) {
          width: 100%;
        }
    
        @media(max-width: 600px) and (min-width: 481px) {
          width: 100%;
        }
        
        @media(max-width: 480px) {
          width: 100%;
        }
  
        &-left {
          width: 70%;
          display: flex;
          flex-flow: row wrap;
          gap: 2%;

          @media(max-width: 1220px) and (min-width: 1201px) {

          }
          
          @media(max-width: 1200px) and (min-width: 1025px) {
  
          }
    
          @media(max-width: 1023px) and (min-width: 801px) {
            width: 55%;
            max-width: 55%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            overflow-y: hidden;
            overflow-x: scroll;
          }
  
          @media(max-width: 800px) and (min-width: 601px) {
            width: 60%;
            max-width: 60%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            overflow-y: hidden;
            overflow-x: scroll;
          }
      
          @media(max-width: 600px) and (min-width: 481px) {
            width: 50%;
            max-width: 50%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            overflow-y: hidden;
            overflow-x: scroll;
          }
          
          @media(max-width: 480px) {
            width: 45%;
            max-width: 45%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            overflow-y: hidden;
            overflow-x: scroll;
          }
  
          &-tablinks {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px 20px;
            color: #000;
            font-family: f.$FFamilyDM;
            font-size: f.$fontSize14;
            font-style: normal;
            font-weight: f.$font-weightMedium;
            line-height: 17.452px;
            background: c.$discover-tab-btns-bg;
            border-radius: 100px;
            border: none;
            outline: none;
            cursor: pointer;
  
            &:hover {
              color: c.$primary-white;
              background: c.$discover-nft-blue;
            }
  
            &.active {
              color: c.$primary-white;
              background: c.$discover-nft-blue;
            }

            @media(max-width: 1220px) and (min-width: 1201px) {

            }
            
            @media(max-width: 1200px) and (min-width: 1025px) {
    
            }
      
            @media(max-width: 1023px) and (min-width: 801px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                width: 80px;
              }
            }
    
            @media(max-width: 800px) and (min-width: 601px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                width: 80px;
              }
            }
        
            @media(max-width: 600px) and (min-width: 481px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                width: 80px;
              }
            }
            
            @media(max-width: 480px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                width: 80px;
              }
            }
  
          }
  
        }
  
        &-right {
          width: 30%;
          display: flex;
          flex-flow: row wrap;

          @media(max-width: 1220px) and (min-width: 1201px) {

          }
          
          @media(max-width: 1200px) and (min-width: 1025px) {
  
          }
    
          @media(max-width: 1023px) and (min-width: 801px) {
            width: 45%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
          }
  
          @media(max-width: 800px) and (min-width: 601px) {
            width: 40%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
          }
      
          @media(max-width: 600px) and (min-width: 481px) {
            width: 50%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
          }
          
          @media(max-width: 480px) {
            width: 55%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
          }
  
          &-filter {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            gap: 10px;
            padding: 10px 20px;
            font-family: f.$FFamilyDM;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: f.$font-weightMedium;
            line-height: 17.452px;
            background: c.$discover-tab-btns-bg;
            border-radius: 100px;
            border: none;
            outline: none;
            cursor: pointer;
  
            &:hover, &.active {
              color: c.$primary-white;
              background: c.$discover-nft-blue;
            }
  
            &-img {
              width: 24px;
              height: 24px;
              filter: none;
  
              &:hover, &.active {
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
              }
  
            }
  
            &:hover &-img, &.active &-img {
              filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
            }

            @media(max-width: 1220px) and (min-width: 1201px) {

            }
            
            @media(max-width: 1200px) and (min-width: 1025px) {
    
            }
      
            @media(max-width: 1023px) and (min-width: 801px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                position: relative;
                top: 8px;
              }

              &-img {
                width: 20px;
                height: 20px;
                position: relative;
                top: 4px;
              }
            }
    
            @media(max-width: 800px) and (min-width: 601px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                position: relative;
                top: 8px;
              }

              &-img {
                width: 20px;
                height: 20px;
                position: relative;
                top: 4px;
              }
            }
        
            @media(max-width: 600px) and (min-width: 481px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                position: relative;
                top: 8px;
              }

              &-img {
                width: 20px;
                height: 20px;
                position: relative;
                top: 4px;
              }
            }
            
            @media(max-width: 480px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                position: relative;
                top: 8px;
              }

              &-img {
                width: 20px;
                height: 20px;
                position: relative;
                top: 4px;
              }

            }
  
          }
  
        }
  
      }
  
      &-tabcontent {
        display: none;
        width: 81%;
        padding: 0.5% 0 0 0;
        overflow: hidden;

        @media(max-width: 1220px) and (min-width: 1201px) {
          width: 100%;
        }
        
        @media(max-width: 1200px) and (min-width: 1025px) {
          width: 100%;
        }
  
        @media(max-width: 1023px) and (min-width: 801px) {
          width: 86%;
        }

        @media(max-width: 800px) and (min-width: 601px) {
          width: 90%;
        }
    
        @media(max-width: 600px) and (min-width: 481px) {
          width: 92%;
        }
        
        @media(max-width: 480px) {
          width: 100%;
        }
  
        &-box {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          gap: 2% 3%;
  
          &-card {
            width: 22%;
            height: 100%;
            border-radius: 13.165px;
            border: 1.097px solid c.$discover-nft-card-bd;
            background: c.$primary-white;
            margin: 3% 0;

            @media(max-width: 1220px) and (min-width: 1201px) {

            }
            
            @media(max-width: 1200px) and (min-width: 1025px) {
    
            }
      
            @media(max-width: 1023px) and (min-width: 801px) {
              width: 46%;
              height: 100%;
              border-radius: 13.165px;
              border: 1.097px solid c.$discover-nft-card-bd;
              background: c.$primary-white;
              margin: 3% 0;
            }
    
            @media(max-width: 800px) and (min-width: 601px) {
              width: 44%;
              height: 100%;
              border-radius: 13.165px;
              border: 1.097px solid c.$discover-nft-card-bd;
              background: c.$primary-white;
              margin: 3% 0;
            }
        
            @media(max-width: 600px) and (min-width: 481px) {
              width: 100%;
              height: 100%;
              border-radius: 13.165px;
              border: 1.097px solid c.$discover-nft-card-bd;
              background: c.$primary-white;
              margin: 3% 0;
            }
            
            @media(max-width: 480px) {
              width: 90%;
              height: 100%;
              border-radius: 13.165px;
              border: 1.097px solid c.$discover-nft-card-bd;
              background: c.$primary-white;
              margin: 3% 0;
            }
  
            &-image {
              width: 100%;
              height: 70%;
              border-radius: inherit;
              
              &-img {
                width: 100%;
                height: 100%;
                padding: 2%;
              }
  
            }
  
            &-users {
              display: flex;
              flex-flow: row wrap;
              justify-content: flex-start;
              align-items: center;
              position: relative;
              top: -3vh;

              @media(max-width: 1220px) and (min-width: 1201px) {

              }
              
              @media(max-width: 1200px) and (min-width: 1025px) {
      
              }
        
              @media(max-width: 1023px) and (min-width: 801px) {
                top: -2vh;
              }
      
              @media(max-width: 800px) and (min-width: 601px) {
                top: -2vh;
              }
          
              @media(max-width: 600px) and (min-width: 481px) {
                top: -6vh;
              }
              
              @media(max-width: 480px) {
                top: -3vh;
              }
  
              &-img-1 {
                width: 30.718px;
                height: 30.718px;
                flex-shrink: 0;
                border-radius: 30.718px;
                border: 2.194px solid c.$primary-white;
                margin-left: 6%;

                @media(max-width: 1220px) and (min-width: 1201px) {

                }
                
                @media(max-width: 1200px) and (min-width: 1025px) {
        
                }
          
                @media(max-width: 1023px) and (min-width: 801px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  margin-left: 6%;
                }
        
                @media(max-width: 800px) and (min-width: 601px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  margin-left: 6%;
                }
            
                @media(max-width: 600px) and (min-width: 481px) {
                  width: 60px;
                  height: 60px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  margin-left: 6%;
                }
                
                @media(max-width: 480px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  margin-left: 6%;
                }

              }
  
              &-img-2 {
                width: 30.718px;
                height: 30.718px;
                flex-shrink: 0;
                border-radius: 30.718px;
                border: 2.194px solid c.$primary-white;
                position: relative;
                left: -4%;

                @media(max-width: 1220px) and (min-width: 1201px) {

                }
                
                @media(max-width: 1200px) and (min-width: 1025px) {
        
                }
          
                @media(max-width: 1023px) and (min-width: 801px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  position: relative;
                  left: -4%;
                }
        
                @media(max-width: 800px) and (min-width: 601px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  position: relative;
                  left: -4%;
                }
            
                @media(max-width: 600px) and (min-width: 481px) {
                  width: 60px;
                  height: 60px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  position: relative;
                  left: -6%;
                }
                
                @media(max-width: 480px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  position: relative;
                  left: -4%;
                }

              }
  
              &-img-3 {
                width: 30.718px;
                height: 30.718px;
                flex-shrink: 0;
                border-radius: 30.718px;
                border: 2.194px solid c.$primary-white;
                position: relative;
                left: -8%;

                @media(max-width: 1220px) and (min-width: 1201px) {

                }
                
                @media(max-width: 1200px) and (min-width: 1025px) {
        
                }
          
                @media(max-width: 1023px) and (min-width: 801px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  position: relative;
                  left: -8%;
                }
        
                @media(max-width: 800px) and (min-width: 601px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  position: relative;
                  left: -8%;
                }
            
                @media(max-width: 600px) and (min-width: 481px) {
                  width: 60px;
                  height: 60px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  position: relative;
                  left: -10%;
                }
                
                @media(max-width: 480px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  position: relative;
                  left: -8%;
                }

              }
  
              &-img-4 {
                width: 30.718px;
                height: 30.718px;
                flex-shrink: 0;
                border-radius: 30.718px;
                border: 2.194px solid c.$primary-white;
                position: relative;
                left: -12%;

                @media(max-width: 1220px) and (min-width: 1201px) {

                }
                
                @media(max-width: 1200px) and (min-width: 1025px) {
        
                }
          
                @media(max-width: 1023px) and (min-width: 801px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  position: relative;
                  left: -12%;
                }
        
                @media(max-width: 800px) and (min-width: 601px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  position: relative;
                  left: -12%;
                }
            
                @media(max-width: 600px) and (min-width: 481px) {
                  width: 60px;
                  height: 60px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  position: relative;
                  left: -14%;
                }
                
                @media(max-width: 480px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid c.$primary-white;
                  position: relative;
                  left: -12%;
                }

              }
  
            }
  
            &-info {
              display: flex;
              flex-flow: column nowrap;
              margin: 0 5%;

              @media(max-width: 1220px) and (min-width: 1201px) {

              }
              
              @media(max-width: 1200px) and (min-width: 1025px) {
          
              }
          
              @media(max-width: 1023px) and (min-width: 801px) {
                margin: 0 5%;
              }
          
              @media(max-width: 800px) and (min-width: 601px) {
                margin: 0 5%;
              }
          
              @media(max-width: 600px) and (min-width: 481px) {
                margin: 0 7%;
              }
              
              @media(max-width: 480px) {
                margin: 0 5%;
              }
  
              &-h {
                display: flex;
                flex-flow: row wrap;
  
                &-title {
                  color: #000;
                  font-family: f.$FFamilyDM;
                  font-size: f.$fontSize20;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 19.146px;
                  margin: -7% 0%;

                  @media(max-width: 1220px) and (min-width: 1201px) {

                  }
                  
                  @media(max-width: 1200px) and (min-width: 1025px) {
              
                  }
              
                  @media(max-width: 1023px) and (min-width: 801px) {
                    margin: -4.5% 0%;
                  }
              
                  @media(max-width: 800px) and (min-width: 601px) {
                    margin: -4% 0%;
                  }
              
                  @media(max-width: 600px) and (min-width: 481px) {
                    font-size: f.$fontSize22;
                    margin: -6% 0%;
                  }
                  
                  @media(max-width: 480px) {
                    margin: -4% 0%;
                  }

                }
  
              }
  
              &-price {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                margin: 6% 0;
  
                &-left {
                  display: flex;
                  flex-flow: row wrap;
                  justify-self: flex-start;
                  width: 50%;
  
                  img {
                    width: 9.359px;
                    height: 15.359px;
                    margin: 0 2% 0 0;
                  }
  
                  span {
                    color: c.$discover-nft-card-green;
                    font-family: f.$FFamilyDM;
                    font-size: f.$fontSize11;
                    font-style: normal;
                    font-weight: f.$font-weightBold;
                    line-height: normal;
                    padding-top: 2%;

                    @media(max-width: 1220px) and (min-width: 1201px) {

                    }
                    
                    @media(max-width: 1200px) and (min-width: 1025px) {
                
                    }
                
                    @media(max-width: 1023px) and (min-width: 801px) {
                      font-size: f.$fontSize11;
                      padding-top: 2%;
                    }
                
                    @media(max-width: 800px) and (min-width: 601px) {
                      font-size: f.$fontSize11;
                      padding-top: 1%;
                    }
                
                    @media(max-width: 600px) and (min-width: 481px) {
                      font-size: f.$fontSize14;
                      padding-top: 0%;
                    }
                    
                    @media(max-width: 480px) {
                      font-size: f.$fontSize11;
                      padding-top: 2%;
                    }
  

                  }
  
                }
  
                &-right {
                  display: flex;
                  flex-flow: row wrap;
                  justify-content: flex-end;
                  width: 50%;
  
                  span {
                    color: c.$discover-gray;
                    text-align: right;
                    font-family: f.$FFamilyDM;
                    font-size: f.$fontSize13;
                    font-style: normal;
                    font-weight: f.$font-weightMedium;
                    line-height: 19.146px;

                    @media(max-width: 1220px) and (min-width: 1201px) {

                    }
                    
                    @media(max-width: 1200px) and (min-width: 1025px) {
                
                    }
                
                    @media(max-width: 1023px) and (min-width: 801px) {
                      font-size: f.$fontSize13;
                    }
                
                    @media(max-width: 800px) and (min-width: 601px) {
                      font-size: f.$fontSize13;
                    }
                
                    @media(max-width: 600px) and (min-width: 481px) {
                      font-size: f.$fontSize14;
                    }
                    
                    @media(max-width: 480px) {
                      font-size: f.$fontSize13;
                    }

                  }
  
                }
  
              }
  
            }
  
            &-bid {
              display: flex;
              flex-flow: row wrap;
              justify-content: space-between;
              margin: -1% 5% 0 5%;
  
              &-divider {
                width: 100%;
                height: 1.064px;
                background: c.$discover-nft-card-div-light;
              }
  
              &-time {
                position: relative;
                width: 50%;
                display: flex;
                flex-flow: row wrap;
                margin: 2.7% 0;
  
                &-badge {
                  display: inline-flex;
                  padding: 4.388px 10.971px;
                  align-items: flex-start;
                  gap: 10.971px;
                  border-radius: 109.706px;
                  background: c.$discover-nft-time-badge-bg;
  
                  &-text {
                    color: c.$discover-nft-time-badge-text;
                    text-align: right;
                    font-family: f.$FFamilyDM;
                    font-size: 10.971px;
                    font-style: normal;
                    font-weight: f.$font-weightMedium;
                    line-height: 19.146px;
                  }

                  &:hover, &:focus, &.active {
                    color: c.$primary-white;
                    background: c.$discover-nft-blue;
                  }

                  &:hover span, &:focus span, &.active span {
                    color: c.$primary-white;
                    cursor: pointer;
                  }
  
                }
                
              }
  
              &-place {
                width: 50%;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
                margin: 4% 0;
  
                &-link {
                  color: c.$discover-purple;
                  font-family: f.$FFamilyDM;
                  font-size: 15.359px;
                  font-style: normal;
                  font-weight: f.$font-weightMedium;
                  line-height: normal;

                  &:hover, &:focus, &.active {
                    color: c.$discover-nft-card-green;
                  }

                }
  
              }
  
            }
  
          }
  
        }
  
      }
      
    }

  }

  &-more {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 3% 0;

    &-btn {
      display: inline-flex;
      padding: 20px 40px;
      justify-content: center;
      gap: 1%;
      border-radius: 50px;
      border: 2px solid c.$discover-nft-blue;
      color: c.$discover-purple;
      font-family: f.$FFamilyDM;
      font-size: 20px;
      font-style: normal;
      font-weight: f.$font-weightMedium;
      line-height: normal;
      margin-bottom: 3%;

      &:hover, &:focus, &.active {
        color: c.$primary-white;
        background: c.$discover-nft-blue;
      }

    }

  }

}
