@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap");
@font-face {
  font-family: "Integral CF";
  src: url(fonts/IntegralCF-Regular.otf);
}
@font-face {
  font-family: "Averta Demo";
  src: url(fonts/AvertaDemo-Regular.otf);
}

$container-width: 1250px;
$container-height: 540px;
$column-gap: 10px;
$btn-main-color: #3d00b7;

$primary-white: #ffffff;
$secondary-white: #dcdcdc33;
$primary-black: #000000;
$primary-blue: #3d00b7;
$secondary-blue: #2639ed;
$primary-green: #00ac4f;
$primary-gray: #565656;
$secondary-gray: #636363;
$dark-gray: #363639;

/*Top Menu*/
$primary-neutral: #efefef;
$secondary-neutral: #c0c0c0;

/*Amaze NFT*/
$amaze-black: #292d32;
$amaze-gray: #696969;
/*Collection Over*/
$collection-over-blue: #1e93ff;
$collection-over-light-blue: #14c8b0;
$collection-over-primary-red: #ff002e;
$collection-over-dark-gray: #3a3a3a;
$collection-over-blue: #220970;
/*Collection NFT*/
$collection-nft-blue: #2639ed;
/*Discover*/
$discover-blue: #371c87;
$discover-purple: #4f33a3;
$discover-gray: #838383;
$discover-tab-btns-bg: rgba(220, 220, 220, 0.2);
$discover-nft-card-bd: rgba(242, 242, 242, 0.5);
$discover-nft-card-green: #00ac4f;
$discover-nft-card-div-light: #f4f4f4;
$discover-nft-time-badge-bg: #f5f5f5;
$discover-nft-time-badge-text: #5539a8;
$discover-nft-bg: rgba(217, 224, 236, 0.2);
$discover-nft-blue: #3d00b7;
/*Footer*/
$footer-gray: #959595;
$footer-black: #3d3d3d;

$FFamilyDM: "DM Sans", sans-serif;
$FFamilyAverta: "Averta Demo", sans-serif;
$FFamilyInteg: "Integral CF", sans-serif;

$font-weightLight: 400;
$font-weightMedium: 500;
$font-weightSemiBold: 600;
$font-weightBold: 700;
$font-weightExtraBold: 800;

$fontSize12: 0.75rem;
$fontSize14: 0.875rem;
$fontSize16: 1rem;
$fontSize17: 1.0625rem;
$fontSize18: 1.125rem;
$fontSize20: 1.25rem;
$fontSize21: 1.3125rem;
$fontSize22: 1.375rem;
$fontSize24: 1.5rem;
$fontSize28: 1.8rem;
$fontSize36: 2.25rem;
$fontSize40: 3rem;
$fontSize50: 3.125rem;
$fontSize60: 3.75rem;

$fontSize10: 0.625rem;
$fontSize11: 0.6875rem;
$fontSize13: 0.8125rem;
$fontSize19: 1.1875rem;
$fontSize21: 1.3125rem;
$fontSize26: 1.625rem;
$fontSize30: 1.875rem;
$fontSize32: 2rem;
$fontSize34: 2.125rem;

@mixin button($bg-color, $text-color) {
  width: Hug (113px);
  height: Hug (45px);
  padding: 14px 20px 14px 20px;
  border-radius: 50px;
  gap: 10px;
  background-color: $bg-color;
  color: $text-color;
}

/*Top_Menu*/

.dots {
  position: absolute;
  transform: translate(25px, 394px);
  z-index: -1;
}

.top_menu {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &_logo {
    font-family: $FFamilyInteg;
    color: $primary-blue;
    font-size: $fontSize24;
    font-weight: $font-weightBold;
    text-decoration: none;
  }

  &_toggle {
    &_icon {
      &_close_menu {
        display: none;
      }
      &_menu {
        display: none;
      }
    }
  }

  /*Nav*/

  &_nav {
    &_list {
      display: flex;
      gap: clamp(1rem, 5vh, 2.938rem);
      list-style: none;
      align-items: baseline;
      margin: 0;
      font-size: $fontSize16;
      font-weight: $font-weightMedium;
      letter-spacing: 0.64px;
      font-family: $FFamilyDM;

      &_item a {
        text-decoration: none;
        color: $primary-black;

        &:hover {
          color: $primary-blue;
        }
        &:focus {
          color: $primary-blue;
        }
      }
    }
  }

  &_search_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    border: 2px solid $primary-neutral;
    border-radius: 100px;

    &_input {
      border: none;
      outline: none;
      color: $secondary-neutral;
      font-family: $FFamilyDM;
      font-size: $fontSize16;
      font-weight: $font-weightMedium;
      margin: 12px 30px;
    }

    &_icon {
      width: 24px;
      height: 24px;
      margin-right: 13px;
    }
  }

  &_btn {
    display: flex;
    gap: 20px;

    button {
      border-radius: 60px;
      font-family: $FFamilyDM;
      font-size: $fontSize14;
      font-weight: $font-weightBold;
    }

    &_upload {
      background-color: $primary-blue;
      color: $primary-white;
      border: 2px solid $primary-blue;
      padding: 18px 40px;

      &:hover {
        background-color: $primary-white;
        color: $primary-blue;
      }
    }

    &_connect {
      background-color: $primary-white;
      color: $primary-blue;
      border: 2px solid $primary-blue;
      padding: 18px 22px;

      &:hover {
        color: $primary-white;
        background-color: $primary-blue;
      }
    }
  }
}

/*Hero*/

.hero {
  margin: 5%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;

  &_left {
    flex-basis: 50%;

    &_title {
      font-size: $fontSize40;
      font-weight: $font-weightBold;
      color: $primary-black;
      font-family: $FFamilyInteg;
      letter-spacing: 2px;
      margin-bottom: 2%;
    }

    &_text {
      font-family: $FFamilyDM;

      color: $primary-gray;
      font-size: $fontSize20;
      font-weight: $font-weightLight;
      line-height: 160%;
      margin-bottom: 3%;
    }

    &_btn {
      background-color: $primary-blue;
      color: $primary-white;
      border: $primary-blue;
      padding: 18px 40px;
      border-radius: 60px;
      font-family: $FFamilyAverta;
      font-size: $fontSize20;
      font-weight: $font-weightBold;
      letter-spacing: 1.3px;
      margin-bottom: 3%;

      &:hover {
        color: $primary-blue;
        background-color: $primary-white;
        border: 2px solid $primary-blue;
      }
    }

    &_data {
      display: flex;
      gap: 2%;

      &_item {
        font-family: $FFamilyInteg;
        color: $primary-black;
        font-size: $fontSize40;
        font-weight: $font-weightBold;

        &_sub {
          color: $primary-gray;
          font-family: $FFamilyDM;
          font-size: $fontSize20;
          font-weight: $font-weightLight;
        }
      }
    }
  }
  &_right {
    display: flex;
    gap: 1%;
    &_img3 {
      background-image: url(hero_assets/unsplash_tZCrFpSNiIQ.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 24px;
      min-width: 310px;
      height: 341px;
    }

    &_img2 {
      background-image: url(hero_assets/unsplash_pVoEPpLw818.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 24px;
      min-width: 356px;
      height: 391.6px;
    }

    &_img1 {
      position: relative;
      background-image: url(hero_assets/unsplash_E8Ufcyxz514.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 24px;
      min-width: 400px;
      height: 440px;

      &_ellipse {
        position: absolute;
        bottom: 23%;
        left: -17%;
      }

      &_box_top {
        font-family: $FFamilyDM;
        margin: 5%;
        color: $primary-white;
        font-weight: $font-weightBold;

        &_title {
          font-size: $fontSize28;
          margin-bottom: 2%;
        }

        &_user {
          display: flex;
          align-items: center;
          gap: 3%;

          &_name {
            font-size: $fontSize20;
          }

          &_img {
            background-image: url(hero_assets/Ellipse\ 95.png);
            border-radius: 32.821px;
            width: 32px;
            height: 32.821px;
          }
        }
      }
      &_box_down {
        color: $primary-white;
        font-family: $FFamilyDM;
        display: flex;
        position: absolute;
        inset: auto 0px 0px 0px;
        justify-content: space-between;
        padding: 4% 7%;
        margin: 5%;
        backdrop-filter: blur(8px);
        border-radius: 12px;
        box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);

        &_overlay {
          border-radius: 12px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.2);
        }

        &_current {
          width: 50%;

          &_text {
            font-size: $fontSize12;
            font-weight: $font-weightMedium;
            margin-bottom: 5%;
          }

          &_crypto {
            display: flex;
            gap: 8%;
          }

          &_value {
            font-size: $fontSize16;
            font-weight: $font-weightBold;
          }
        }

        &_ends {
          &_text {
            font-size: $fontSize12;
            font-weight: $font-weightMedium;
            margin-bottom: 5%;
          }

          &_time {
            font-size: $fontSize16;
            font-weight: $font-weightBold;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .top_menu {
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 11px;
    justify-content: space-between;

    &_toggle_icon_menu {
      display: block;
      cursor: pointer;
    }

    &_nav {
      z-index: 0;
      display: none;
      inset: 0rem 0rem 0rem auto;
      background: $primary-white;
      width: 40%;

      box-shadow: 0 0 0.5em rgb(0, 0, 0, 0.25), 0 0 0 100vmax rgb(0 0 0 / 0.75);

      &_list {
        flex-direction: column;
        gap: 13px;
        padding: 20px 20px 0 20px;
      }
    }

    &_search_container {
      display: none;
    }

    &_btn {
      display: none;
    }
  }

  .opened {
    display: block;
    position: absolute; /*attention*/
  }

  .active {
    display: block;
    z-index: 10;
  }

  .hide {
    display: none;
  }

  .hero {
    &_right_img1_ellipse {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .top_menu {
    gap: 10%;

    &_search_container {
      display: none;
    }

    &_btn {
      display: none;
    }
  }

  .hero {
    flex-direction: column;
    margin: 1%;

    &_left {
      order: 1;
      display: flex;
      flex-direction: column;

      &_title {
        order: 1;
      }

      &_text {
        order: 2;
      }

      &_data {
        order: 3;
      }

      &_btn {
        order: 4;
        display: block;
        margin: 5% auto;
      }
    }

    &_right {
      flex-direction: column;
      order: 2;
      display: flex;
      gap: 2%;
      justify-content: center;
    }
  }
}

@media (min-width: 1025px) {
  .hero {
    &_right {
      &_img3 {
        background-image: url(hero_assets/unsplash_tZCrFpSNiIQ.png);
        z-index: 10;
        width: 310px;
        height: 341px;
        position: absolute;
        transform: translate(-110%, 16%);
      }

      &_img2 {
        background-image: url(hero_assets/unsplash_pVoEPpLw818.png);
        z-index: 20;
        width: 356px;
        height: 391.6px;
        position: absolute;
        transform: translate(-119%, 7%);
      }

      &_img1 {
        position: absolute;
        background-image: url(hero_assets/unsplash_E8Ufcyxz514.png);
        z-index: 30;
        width: 400px;
        height: 440px;
        transform: translateX(-126%);
      }
    }
  }
}

.amazing-nft {
  margin-top: 120px;
  padding: 120px 120px;
  display: flex;
  justify-content: space-between;
  background: rgba(217.2, 223.55, 235.88, 0.2);

  &-left {
    &-title {
      font-family: $FFamilyInteg;
      color: $primary-black;
      font-size: $fontSize28;
      text-transform: uppercase;
      font-weight: $font-weightBold;
    }
  }
  &-center {
    display: inline;

    &-icon {
      float: left;
      padding-right: 15px;
    }
    &-text {
      float: right;

      h3 {
        padding-bottom: 12px;
        font-family: $FFamilyDM;
        color: $amaze-black;
        font-size: $fontSize20;
      }
      p {
        font-family: $FFamilyDM;
        font-size: $fontSize12;
        color: $amaze-gray;
        line-height: 22.4px;
      }
    }
  }
  &-right {
    display: inline;

    &-icon {
      float: left;
      padding-right: 15px;
    }
    &-text {
      float: right;

      h3 {
        padding-bottom: 12px;
        font-family: $FFamilyDM;
        color: $amaze-black;
        font-size: $fontSize20;
      }
      p {
        font-family: $FFamilyDM;
        font-size: $fontSize12;
        color: $amaze-gray;
        line-height: 22.4px;
      }
    }
  }
}

@media (max-width: 600px) {
  .amazing-nft {
    flex-direction: column;

    &-left {
      margin-bottom: 10%;
      text-align: center;
    }

    &-center {
      display: flex;
      justify-content: center;
      margin-bottom: 10%;
    }

    &-right {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 800px) {
  .amazing-nft {
    padding: 0;
  }
}

/* Discover More NFTs */
.disc-nft {
  width: 100%;
  height: 100%;
  background: $discover-nft-bg;
  backdrop-filter: blur(25px);
  overflow-x: hidden;

  &-ctr {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 40px 120px 47px 120px;

    @media (max-width: 1220px) and (min-width: 1201px) {
      margin: 40px 100px 47px 100px;
    }

    @media (max-width: 1200px) and (min-width: 1024px) {
      margin: 40px 80px 47px 80px;
    }

    @media (max-width: 1023px) and (min-width: 801px) {
      margin: 40px 60px 47px 60px;
    }

    @media (max-width: 800px) and (min-width: 601px) {
      margin: 40px 40px 47px 40px;
    }

    @media (max-width: 600px) and (min-width: 481px) {
      margin: 40px 20px 47px 20px;
    }

    @media (max-width: 480px) {
      margin: 40px 20px 47px 20px;
    }

    &-header {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin: 40px 0 0 0;

      &-title {
        color: #000;
        font-family: $FFamilyInteg;
        font-size: $fontSize34;
        font-style: normal;
        font-weight: $font-weightBold;
        line-height: normal;

        @media (max-width: 1220px) and (min-width: 1201px) {
          font-size: $fontSize34;
        }

        @media (max-width: 1200px) and (min-width: 1024px) {
          font-size: $fontSize32;
        }

        @media (max-width: 1023px) and (min-width: 801px) {
          font-size: $fontSize30;
        }

        @media (max-width: 800px) and (min-width: 601px) {
          font-size: $fontSize28;
        }

        @media (max-width: 600px) and (min-width: 481px) {
          font-size: $fontSize26;
        }

        @media (max-width: 480px) {
          font-size: $fontSize24;
        }
      }
    }

    &-cat {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;

      &-tab {
        overflow: hidden;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 3%;

        @media (max-width: 1220px) and (min-width: 1201px) {
          width: 100%;
        }

        @media (max-width: 1200px) and (min-width: 1024px) {
          width: 100%;
        }

        @media (max-width: 1023px) and (min-width: 801px) {
          width: 100%;
        }

        @media (max-width: 800px) and (min-width: 601px) {
          width: 100%;
        }

        @media (max-width: 600px) and (min-width: 481px) {
          width: 100%;
        }

        @media (max-width: 480px) {
          width: 100%;
        }

        &-left {
          width: 70%;
          display: flex;
          flex-flow: row wrap;
          gap: 2%;

          @media (max-width: 1220px) and (min-width: 1201px) {
            width: 70%;
            max-width: 70%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            overflow-y: hidden;
            overflow-x: scroll;
          }

          @media (max-width: 1200px) and (min-width: 1024px) {
            width: 55%;
            max-width: 55%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            overflow-y: hidden;
            overflow-x: scroll;
          }

          @media (max-width: 1023px) and (min-width: 801px) {
            width: 55%;
            max-width: 55%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            overflow-y: hidden;
            overflow-x: scroll;
          }

          @media (max-width: 800px) and (min-width: 601px) {
            width: 60%;
            max-width: 60%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            overflow-y: hidden;
            overflow-x: scroll;
          }

          @media (max-width: 600px) and (min-width: 481px) {
            width: 50%;
            max-width: 50%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            overflow-y: hidden;
            overflow-x: scroll;
          }

          @media (max-width: 480px) {
            width: 45%;
            max-width: 45%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            overflow-y: hidden;
            overflow-x: scroll;
          }

          &-tablinks {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px 20px;
            color: #000;
            font-family: $FFamilyDM;
            font-size: $fontSize14;
            font-style: normal;
            font-weight: $font-weightMedium;
            line-height: 17.452px;
            background: $discover-tab-btns-bg;
            border-radius: 100px;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
              color: $primary-white;
              background: $discover-nft-blue;
            }

            &.active {
              color: $primary-white;
              background: $discover-nft-blue;
            }

            /*
            @media(max-width: 1220px) and (min-width: 1201px) {

            }
            */

            @media (max-width: 1200px) and (min-width: 1024px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                width: 80px;
              }
            }

            @media (max-width: 1023px) and (min-width: 801px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                width: 80px;
              }
            }

            @media (max-width: 800px) and (min-width: 601px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                width: 80px;
              }
            }

            @media (max-width: 600px) and (min-width: 481px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                width: 80px;
              }
            }

            @media (max-width: 480px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                width: 80px;
              }
            }
          }
        }

        &-right {
          width: 30%;
          display: flex;
          flex-flow: row wrap;

          /*
          @media(max-width: 1220px) and (min-width: 1201px) {

          }
          */

          @media (max-width: 1200px) and (min-width: 1024px) {
            width: 45%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
          }

          @media (max-width: 1023px) and (min-width: 801px) {
            width: 45%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
          }

          @media (max-width: 800px) and (min-width: 601px) {
            width: 40%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
          }

          @media (max-width: 600px) and (min-width: 481px) {
            width: 50%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
          }

          @media (max-width: 480px) {
            width: 55%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
          }

          &-filter {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            gap: 10px;
            padding: 10px 20px;
            font-family: $FFamilyDM;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: $font-weightMedium;
            line-height: 17.452px;
            background: $discover-tab-btns-bg;
            border-radius: 100px;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover,
            &.active {
              color: $primary-white;
              background: $discover-nft-blue;
            }

            &-img {
              width: 24px;
              height: 24px;
              filter: none;

              &:hover,
              &.active {
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
                  brightness(100%) contrast(100%);
              }
            }

            &:hover &-img,
            &.active &-img {
              filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
                brightness(100%) contrast(100%);
            }

            /*
            @media(max-width: 1220px) and (min-width: 1201px) {

            }
            */

            @media (max-width: 1200px) and (min-width: 1024px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                position: relative;
                top: 8px;
              }

              &-img {
                width: 20px;
                height: 20px;
                position: relative;
                top: 4px;
              }
            }

            @media (max-width: 1023px) and (min-width: 801px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                position: relative;
                top: 8px;
              }

              &-img {
                width: 20px;
                height: 20px;
                position: relative;
                top: 4px;
              }
            }

            @media (max-width: 800px) and (min-width: 601px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                position: relative;
                top: 8px;
              }

              &-img {
                width: 20px;
                height: 20px;
                position: relative;
                top: 4px;
              }
            }

            @media (max-width: 600px) and (min-width: 481px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                position: relative;
                top: 8px;
              }

              &-img {
                width: 20px;
                height: 20px;
                position: relative;
                top: 4px;
              }
            }

            @media (max-width: 480px) {
              height: 38px;
              padding: 5px 35px;
              font-size: 0.75rem;
              line-height: 10px;
              border-radius: 50px;

              & span {
                position: relative;
                top: 8px;
              }

              &-img {
                width: 20px;
                height: 20px;
                position: relative;
                top: 4px;
              }
            }
          }
        }
      }

      &-tabcontent {
        display: none;
        width: 83%;
        padding: 0.5% 0 0 0;
        overflow: hidden;

        @media (max-width: 1220px) and (min-width: 1201px) {
          width: 82%;
        }

        @media (max-width: 1200px) and (min-width: 1024px) {
          width: 86%;
        }

        @media (max-width: 1023px) and (min-width: 801px) {
          width: 86%;
        }

        @media (max-width: 800px) and (min-width: 601px) {
          width: 90%;
        }

        @media (max-width: 600px) and (min-width: 481px) {
          width: 92%;
        }

        @media (max-width: 480px) {
          width: 100%;
        }

        &-box {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          gap: 2% 3%;

          &-card {
            width: 22%;
            height: 100%;
            border-radius: 13.165px;
            border: 1.097px solid $discover-nft-card-bd;
            background: $primary-white;
            margin: 3% 0;

            @media (max-width: 1220px) and (min-width: 1201px) {
              width: 30%;
            }

            @media (max-width: 1200px) and (min-width: 1024px) {
              width: 48%;
              height: 100%;
              border-radius: 13.165px;
              border: 1.097px solid $discover-nft-card-bd;
              background: $primary-white;
              margin: 3% 0;
            }

            @media (max-width: 1023px) and (min-width: 801px) {
              width: 46%;
              height: 100%;
              border-radius: 13.165px;
              border: 1.097px solid $discover-nft-card-bd;
              background: $primary-white;
              margin: 3% 0;
            }

            @media (max-width: 800px) and (min-width: 601px) {
              width: 44%;
              height: 100%;
              border-radius: 13.165px;
              border: 1.097px solid $discover-nft-card-bd;
              background: $primary-white;
              margin: 3% 0;
            }

            @media (max-width: 600px) and (min-width: 481px) {
              width: 100%;
              height: 100%;
              border-radius: 13.165px;
              border: 1.097px solid $discover-nft-card-bd;
              background: $primary-white;
              margin: 3% 0;
            }

            @media (max-width: 480px) {
              width: 90%;
              height: 100%;
              border-radius: 13.165px;
              border: 1.097px solid $discover-nft-card-bd;
              background: $primary-white;
              margin: 3% 0;
            }

            &-image {
              width: 100%;
              height: 70%;
              border-radius: inherit;

              &-img {
                width: 100%;
                height: 100%;
                padding: 2%;
              }
            }

            &-users {
              display: flex;
              flex-flow: row wrap;
              justify-content: flex-start;
              align-items: center;
              position: relative;
              top: -3.5vh;

              @media (max-width: 1220px) and (min-width: 1201px) {
                top: -3vh;
              }

              @media (max-width: 1200px) and (min-width: 1024px) {
                top: -6vh;
              }

              @media (max-width: 1023px) and (min-width: 801px) {
                top: -2vh;
              }

              @media (max-width: 800px) and (min-width: 601px) {
                top: -2vh;
              }

              @media (max-width: 600px) and (min-width: 481px) {
                top: -6vh;
              }

              @media (max-width: 480px) {
                top: -3vh;
              }

              &-img-1 {
                width: 30.718px;
                height: 30.718px;
                flex-shrink: 0;
                border-radius: 30.718px;
                border: 2.194px solid $primary-white;
                margin-left: 6%;

                /*
                @media(max-width: 1220px) and (min-width: 1201px) {}
                */

                @media (max-width: 1200px) and (min-width: 1024px) {
                  width: 60px;
                  height: 60px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  margin-left: 6%;
                }

                @media (max-width: 1023px) and (min-width: 801px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  margin-left: 6%;
                }

                @media (max-width: 800px) and (min-width: 601px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  margin-left: 6%;
                }

                @media (max-width: 600px) and (min-width: 481px) {
                  width: 60px;
                  height: 60px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  margin-left: 6%;
                }

                @media (max-width: 480px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  margin-left: 6%;
                }
              }

              &-img-2 {
                width: 30.718px;
                height: 30.718px;
                flex-shrink: 0;
                border-radius: 30.718px;
                border: 2.194px solid $primary-white;
                position: relative;
                left: -4%;

                @media (max-width: 1200px) and (min-width: 1024px) {
                  width: 60px;
                  height: 60px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -6%;
                }

                @media (max-width: 1023px) and (min-width: 801px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -4%;
                }

                @media (max-width: 800px) and (min-width: 601px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -4%;
                }

                @media (max-width: 600px) and (min-width: 481px) {
                  width: 60px;
                  height: 60px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -6%;
                }

                @media (max-width: 480px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -4%;
                }
              }

              &-img-3 {
                width: 30.718px;
                height: 30.718px;
                flex-shrink: 0;
                border-radius: 30.718px;
                border: 2.194px solid $primary-white;
                position: relative;
                left: -8%;

                @media (max-width: 1200px) and (min-width: 1024px) {
                  width: 60px;
                  height: 60px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -10%;
                }

                @media (max-width: 1023px) and (min-width: 801px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -8%;
                }

                @media (max-width: 800px) and (min-width: 601px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -8%;
                }

                @media (max-width: 600px) and (min-width: 481px) {
                  width: 60px;
                  height: 60px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -10%;
                }

                @media (max-width: 480px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -8%;
                }
              }

              &-img-4 {
                width: 30.718px;
                height: 30.718px;
                flex-shrink: 0;
                border-radius: 30.718px;
                border: 2.194px solid $primary-white;
                position: relative;
                left: -12%;

                @media (max-width: 1200px) and (min-width: 1024px) {
                  width: 60px;
                  height: 60px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -14%;
                }

                @media (max-width: 1023px) and (min-width: 801px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -12%;
                }

                @media (max-width: 800px) and (min-width: 601px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -12%;
                }

                @media (max-width: 600px) and (min-width: 481px) {
                  width: 60px;
                  height: 60px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -14%;
                }

                @media (max-width: 480px) {
                  width: 30.718px;
                  height: 30.718px;
                  flex-shrink: 0;
                  border-radius: 30.718px;
                  border: 2.194px solid $primary-white;
                  position: relative;
                  left: -12%;
                }
              }
            }

            &-info {
              display: flex;
              flex-flow: column nowrap;
              margin: 0 5%;

              @media (max-width: 1220px) and (min-width: 1201px) {
                margin: 0 6%;
              }

              @media (max-width: 1200px) and (min-width: 1024px) {
                margin: 0 7%;
              }

              @media (max-width: 1023px) and (min-width: 801px) {
                margin: 0 5%;
              }

              @media (max-width: 800px) and (min-width: 601px) {
                margin: 0 5%;
              }

              @media (max-width: 600px) and (min-width: 481px) {
                margin: 0 7%;
              }

              @media (max-width: 480px) {
                margin: 0 5%;
              }

              &-h {
                display: flex;
                flex-flow: row wrap;

                &-title {
                  color: #000;
                  font-family: $FFamilyDM;
                  font-size: $fontSize18;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 19.146px;
                  margin: -7% 0%;

                  @media (max-width: 1220px) and (min-width: 1201px) {
                    font-size: $fontSize16;
                    margin: -5% 0%;
                  }

                  @media (max-width: 1200px) and (min-width: 1024px) {
                    font-size: $fontSize24;
                    margin: -6% 0%;
                  }

                  @media (max-width: 1023px) and (min-width: 801px) {
                    margin: -4.5% 0%;
                  }

                  @media (max-width: 800px) and (min-width: 601px) {
                    margin: -4% 0%;
                  }

                  @media (max-width: 600px) and (min-width: 481px) {
                    font-size: $fontSize22;
                    margin: -6% 0%;
                  }

                  @media (max-width: 480px) {
                    margin: -4% 0%;
                  }
                }
              }

              &-price {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                margin: 6% 0;

                &-left {
                  display: flex;
                  flex-flow: row wrap;
                  justify-self: flex-start;
                  width: 50%;

                  img {
                    width: 9.359px;
                    height: 15.359px;
                    margin: 0 2% 0 0;
                  }

                  span {
                    color: $discover-nft-card-green;
                    font-family: $FFamilyDM;
                    font-size: $fontSize11;
                    font-style: normal;
                    font-weight: $font-weightBold;
                    line-height: normal;
                    padding-top: 2%;

                    @media (max-width: 1200px) and (min-width: 1024px) {
                      font-size: $fontSize14;
                      padding-top: 0%;
                    }

                    @media (max-width: 1023px) and (min-width: 801px) {
                      font-size: $fontSize11;
                      padding-top: 2%;
                    }

                    @media (max-width: 800px) and (min-width: 601px) {
                      font-size: $fontSize11;
                      padding-top: 1%;
                    }

                    @media (max-width: 600px) and (min-width: 481px) {
                      font-size: $fontSize14;
                      padding-top: 0%;
                    }

                    @media (max-width: 480px) {
                      font-size: $fontSize11;
                      padding-top: 2%;
                    }
                  }
                }

                &-right {
                  display: flex;
                  flex-flow: row wrap;
                  justify-content: flex-end;
                  width: 50%;

                  span {
                    color: $discover-gray;
                    text-align: right;
                    font-family: $FFamilyDM;
                    font-size: $fontSize13;
                    font-style: normal;
                    font-weight: $font-weightMedium;
                    line-height: 19.146px;

                    @media (max-width: 1200px) and (min-width: 1024px) {
                      font-size: $fontSize14;
                    }

                    @media (max-width: 1023px) and (min-width: 801px) {
                      font-size: $fontSize13;
                    }

                    @media (max-width: 800px) and (min-width: 601px) {
                      font-size: $fontSize13;
                    }

                    @media (max-width: 600px) and (min-width: 481px) {
                      font-size: $fontSize14;
                    }

                    @media (max-width: 480px) {
                      font-size: $fontSize13;
                    }
                  }
                }
              }
            }

            &-bid {
              display: flex;
              flex-flow: row wrap;
              justify-content: space-between;
              margin: -1% 5% 0 5%;

              &-divider {
                width: 100%;
                height: 1.064px;
                background: $discover-nft-card-div-light;
              }

              &-time {
                position: relative;
                width: 50%;
                display: flex;
                flex-flow: row wrap;
                margin: 2.7% 0;

                &-badge {
                  display: inline-flex;
                  padding: 4.388px 10.971px;
                  align-items: flex-start;
                  gap: 10.971px;
                  border-radius: 109.706px;
                  background: $discover-nft-time-badge-bg;

                  &-text {
                    color: $discover-nft-time-badge-text;
                    text-align: right;
                    font-family: $FFamilyDM;
                    font-size: 10.971px;
                    font-style: normal;
                    font-weight: $font-weightMedium;
                    line-height: 19.146px;
                  }

                  &:hover,
                  &:focus,
                  &.active {
                    color: $primary-white;
                    background: $discover-nft-blue;
                  }

                  &:hover span,
                  &:focus span,
                  &.active span {
                    color: $primary-white;
                    cursor: pointer;
                  }
                }
              }

              &-place {
                width: 50%;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
                margin: 4% 0;

                &-link {
                  color: $discover-purple;
                  font-family: $FFamilyDM;
                  font-size: 15.359px;
                  font-style: normal;
                  font-weight: $font-weightMedium;
                  line-height: normal;

                  &:hover,
                  &:focus,
                  &.active {
                    color: $discover-nft-card-green;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &-more {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 3% 0;

    &-btn {
      display: inline-flex;
      padding: 20px 40px;
      justify-content: center;
      gap: 1%;
      border-radius: 50px;
      border: 2px solid $discover-nft-blue;
      color: $discover-purple;
      font-family: $FFamilyDM;
      font-size: 20px;
      font-style: normal;
      font-weight: $font-weightMedium;
      line-height: normal;
      margin-bottom: 3%;

      &:hover,
      &:focus,
      &.active {
        color: $primary-white;
        background: $discover-nft-blue;
      }
    }
  }
}
/* Discover NFTs Section End */

/*Top-collection*/
.top-collection {
  width: $container-width;
  height: $container-height;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .columns {
    width: 33%;
  }
  .columns:last-child {
    border-left: 1px solid #ccc;
  }
  .column-1-text-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    .column-1-author-img-descript {
      display: flex;
      .column-1-author-img {
        width: 80px;
        margin-right: 5px;
      }
    }
  }
  .second-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .top-cell {
      display: flex;
      gap: 20px;
      .cell-icons {
        display: flex;
        gap: 10px;
      }
    }
    .cta-place-a-bid {
      @include button($btn-main-color, white);
      margin-top: 5px;
      border: none;
    }
    .outline {
      @include button(white, black);
      border: 1px solid $btn-main-color;
    }
  }
  .third-column {
    display: flex;
    flex-direction: column;
    .third-column-cell-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .cell-wall {
      margin-left: 5%;
    }
    .third-cell-img {
      width: 50px;
      height: 50px;
      margin-top: 0;
    }
    .last-days {
      font-family: DM Sans;
      font-size: 18px;
      font-weight: 700;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
      color: $btn-main-color;
    }
    .top-collection-rate {
      width: 81px;
      height: 21px;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: -0.025em;
      text-align: right;
      color: #14c8b0;
    }
    .red-rate {
      color: #ff002e;
    }
  }
}
