:root {
  --black: rgba(0, 0, 0, 1);
  --jade: rgba(0, 172, 79, 1);
  --caribbean-green: rgba(19, 199, 176, 1);
  --deep-blue: rgba(34, 9, 112, 1);
  --persian-blue: rgba(37, 57, 236, 1);
  --onyx: rgba(54, 54, 57, 1);
  --pixie-powder: rgba(55, 28, 135, 1);
  --onyx-2: rgba(58, 58, 58, 1);
  --masala: rgba(60, 60, 60, 1);
  --kingfisher-daisy: rgba(61, 0, 183, 1);
  --daisy-bush: rgba(79, 51, 163, 1);
  --gigas: rgba(85, 57, 168, 1);
  --fuscous-gray: rgba(86, 86, 86, 1);
  --storm-dust: rgba(98, 98, 98, 1);
  --granite-gray: rgba(105, 105, 105, 1);
  --sonic-silver: rgba(117, 117, 117, 1);
  --gray: rgba(130, 130, 130, 1);
  --mountain-mist: rgba(149, 149, 149, 1);
  --delta: rgba(163, 163, 163, 1);
  --silver: rgba(192, 192, 192, 1);
  --geyser: rgba(217, 223, 235, 0.2);
  --alto: rgba(219, 219, 219, 0.2);
  --cultured-pearl: rgba(245, 245, 245, 1);
  --torch-red: rgba(255, 0, 45, 1);
  --white: rgba(255, 255, 255, 1);
  --font-size-xxs: 10px;
  --font-size-xs: 11px;
  --font-size-s: 13.2px;
  --font-size-m: 14px;
  --font-size-1: 15.4px;
  --font-size-xl: 18px;
  --font-size-xx1: 20px;
  --font-family-averta_demo_pe_cutted_demo-regular: "Averta Demo PE Cutted Demo-Regular";
  --font-family-dm_sans: "DM Sans";
  --font-family-integral_cf-bold: "Integral CF-Bold";
  --font-family-integral_cf-regular: "Integral CF-Regular";
  --font-family-poppins: "Poppins";
  --font-family-roboto: "Roboto";
}
/* Classes */
.avertademopecutteddemo-regular-normal-fuscous-gray-14px {
  color: var(--fuscous-gray);
  font-family: var(--font-family-averta_demo_pe_cutted_demo-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.dmsans-normal-onyx-12px {
  color: var(--onyx-2);
  font-family: var(--font-family-dm_sans);
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}
.dmsans-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-dm_sans);
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}
.dmsans-normal-silver-16px {
  color: var(--silver);
  font-family: var(--font-family-dm_sans);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.dmsans-bold-onyx-16px {
  color: var(--onyx-2);
  font-family: var(--font-family-dm_sans);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.integralcf-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-integral_cf-bold);

  font-size: var(--font-size-xx1);
  font-weight: 700;
  font-style: normal;
}
.dmsans-bold-gigas-11px {
  color: var(--gigas);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-style: normal;
}
.integralcf-bold-black-28px {
  color: var(--black);
  font-family: var(--font-family-integral_cf-bold);
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
}
.integralcf-bold-black-24px {
  color: var (--black);
  font-family: var(--font-family-integral_cf-bold);
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}
.dmsans-normal-pixie-powder-14px {
  color: var(--pixie-powder);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.integralcf-bold-black-34px {
  color: var(--black);
  font-family: var(--font-family-integral_cf-bold);
  font-size: 34px;
  font-weight: 700;
  font-style: normal;
}
.dmsans-normal-granite-gray-14px {
  color: var(--granite-gray);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.dmsans-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-dm_sans);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.integralcf-regular-normal-black-40px {
  color: var(--black);
  font-family: var(--font-family-integral_cf-regular);
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}
.avertademopecutteddemo-regular-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-averta_demo_pe_cutted_demo-regular);

  font-size: var(--font-size-xx1);
  font-weight: 400;
  font-style: normal;
}
.dmsans-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-x1);
  font-weight: 700;
  font-style: normal;
}
.dmsans-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-dm_sans);

  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xx1);
  font-weight: 700;
  font-style: normal;
}
.dmsans-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-dm_sans);
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}
.poppins-semi-bold-caribbean-green-20px {
  color: var(--caribbean-green);

  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xx1);
  font-weight: 600;
  font-style: normal;
}
.avertademopecutteddemo-regular-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-averta_demo_pe_cutted_demo-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.dmsans-normal-daisy-bush-15-4px {
  color: var(--daisy-bush);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-1);
  font-weight: 400;
  font-style: normal;
}
.dmsans-bold-jade-12px {
  color: var(--jade);
  font-family: var(--font-family-dm_sans);
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
}
.poppins-semi-bold-torch-red-20px {
  color: var(--torch-red);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xx1);
  font-weight: 600;
  font-style: normal;
}
.dmsans-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.dmsans-normal-fuscous-gray-20px {
  color: var(--fuscous-gray);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xx1);
  font-weight: 400;
  font-style: normal;
}
.dmsans-bold-persian-blue-11px {
  color: var(--persian-blue);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-style: normal;
}
.dmsans-bold-jade-11px {
  color: var(--jade);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-style: normal;
}
.roboto-normal-black-10px {
  color: var(--black);

  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  font-style: normal;
}
.dmsans-normal-sonic-silver-14px {
  color: var(--sonic-silver);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.integralcf-bold-black-40px {
  color: var(--black);
  font-family: var(--font-family-integral_cf-bold);
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
}
.poppins-semi-bold-storm-dust-14px {
  color: var(--storm-dust);

  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}
.avertademopecutteddemo-regular-normal-deep-blue-14px {
  color: var(--deep-blue);
  font-family: var(--font-family-averta_demo_pe_cutted_demo-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.dmsans-normal-storm-dust-18px {
  color: var(--storm-dust);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-x1);
  font-weight: 400;
  font-style: normal;
}
.dmsans-normal-onyx-14px {
  color: var(--onyx);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.dmsans-normal-mountain-mist-12-2px {
  color: var(--mountain-mist);
  font-family: var(--font-family-dm_sans);
  font-size: 12.15866470336914px;
  font-weight: 400;
  font-style: normal;
}
.dmsans-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-dm_sans);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.dmsans-normal-masala-14px {
  color: var(--masala);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.dmsans-bold-black-20px {
  color: var(--black);

  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xx1);
  font-weight: 700;
  font-style: normal;
}
.dmsans-normal-daisy-bush-20px {
  color: var(--daisy-bush);

  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xx1);
  font-weight: 400;
  font-style: normal;
}
.dmsans-bold-kingfisher-daisy-14px {
  color: var(--kingfisher-daisy);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
